.header {
  height: 50px;
}

.header-container {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background-color: #002f3408;
  border-bottom: 2px solid #fff;
}

.category-container {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 8px 20px;

}

.home {
  margin-left: 20px;
}

.search {
  height: 44px;
  width: 408px;
  margin-left: 80px;
  outline: none;
  padding-left: 20px;
  border: 2px solid #002f34;
  border-radius: 4px 0px 0px 4px;
}

.search-btn {
  height: 44px;
  outline: none;
  color: white;
  background-color: #002f34;
  border-radius: 0px 4px 4px 0px;
  border: none;
  padding: 0px 15px;
}

.login-btn {
  height: 36px;
  outline: none;
  color: white;
  background-color: #002f34;
  border-radius: 4px;
  border: none;
  padding: 1px 16px;
  margin-right: 10px;
}

.category {
  color: rgba(0, 47, 52, 1);
  padding: 10px;
  cursor: pointer;
}